body {
	background-color: black;
	color: #ff0179;
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	/*
	height: 100vh;
	width: 100vw;*/
}

div {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	padding: 0;
}

h1 {
	margin: auto 0;
	font-size: 5vw;
	background: linear-gradient(to right, #6c56ff 0%, #ff566c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	max-width: 70%;
	flex-wrap: wrap;
}

.menu {
	margin:1% 1%;
}

#yesterday, #home {
	color: #9966ff;
}
#artist {
	color: #d580ff;
}

#title {
	color: #ff80ff;
}

#director {
	color: #ff80d5
}

#year {
	color: #ff80c0
}

#more, #webdev {
	color: #ff80aa;
}

h1>a {
	text-decoration: none;
}

 /* unvisited link */
a:link {
  color: #ff80ff;
}

/* visited link */
a:visited {
  color: #ff80ff;
}

/* mouse over link */
a:hover {
  color: #9966ff;
}

/* selected link */
a:active {
  color: #ff80aa;
} 

li {
	list-style: none;
    color: #ff80ff;
}

#browse {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	padding: 0;	
}

ul {
	padding: 0;
}

#footer {
	/*
  border-top: 3px solid;
  border-image: linear-gradient(to right, #6c56ff 0%, #ff566c 100%) 3;
  */
  display: flex;
  justify-content: space-around;
}

 /* Dropdown Button */
.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


